body {
    background-color: black;
    text-align: center;
}

canvas {
    background-color: white;
}
button {
    margin-left: 0px;
    border: none;
    border-radius: 2px;
    background-color: gray;
}

input {
    margin-right: 0px;
    border: none;
}

h1, h2, p {
    color: white;
}
